.mgtAdvancedSettings__field {
  + * {
    margin-top: $euiSize;
  }

  &--unsaved {
    background-color: rgba(205, 255, 190, 0.23);
  }
  &--invalid {
    background-color: rgba(255, 151, 237, 0.23);
  }

  &Wrapper {
    @include internetExplorerOnly() {
      min-height: 1px;
    }
  }

  @include internetExplorerOnly {
    &Row {
      min-height: 1px;
    }
  }
}
